{% extends 'base.html.twig' %}

{% block title %}Accueil | Boutique{% endblock %}

{% block body %}
<div class="row mt-4">
    {% if mot_recherche is defined %}
        <h1>Recherche : {{ mot_recherche }}</h1><br>
    {% endif %}

    {% if produit|length > 0   %}        
    {% for produit in produit %}
    <div class="col-4 my-2">
        <div class="card" style="style" margin-right: 0;margin-left: 0;>
            <!--<img class="card-img-top mx-auto" src="{{ asset("images/" ~ produit.photo ) }}" alt="{{ produit.titre }}">-->
            <div class="card-body">
                <h5 class="card-title">Nom : {{ produit.titre }}</h5>
                <p class="card-text">Référence : {{ produit.reference }}</p>
                <p class="card-text">Catégorie : {{ produit.categorie }}</p>
                <p class="card-text">Prix : {{ produit.prix }} €</p>
                <p class="card-text">Stock : {{ produit.stock }}</p>
                <a href="{{ path("produit_fiche", { id: produit.id }) }}" class="btn btn-primary">Voir</a>
                <form action="{{ path("ajouter_panier", { id: produit.id }) }}" method="get">
                    <input type="number" name="qte" class="inputQte">
                    <button class="btn btn-info">
                        <i class="fa fa-cart-arrow-down"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <p class="alert alert-warning">Aucun article correspondant</p>
    {% endif %}
</div>
{% endblock %}