{#
    {{form(form)}} # affiche le formulaire
{{ form_start(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    # affiche le bouton save puis le formulaire
#-----------------------------------------------
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    # affiche tous les champs puis le formulaire
#-----------------------------------------------
    {{ form_start(form) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.nom) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    # affiche d'abord le champ email, ensuite nom, ensuite bouton  et enfin tous les autres champs
#-----------------------------------------------
    
#}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}