{% extends 'base.html.twig' %}

{% block title %}Edit Membre{% endblock %}


{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Edit Membre
    {% else %}
        Modifier Le Profil
    {% endif %}
{% endblock %}

{% block body %}

<h1>{{ is_granted('ROLE_ADMIN') ? 'Modifier le membre' : 'Modifier le Profil' }}</h1>


    {{ include('membre/_form.html.twig', {'button_label': 'Update'}) }}

    {%if(is_granted('ROLES_ADMIN'))%}
    <a href="{{ path('membre_index') }}">back to list</a>
    {% endif %}

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
