{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Membre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ membre.roles ? membre.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ membre.password }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ membre.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ membre.civilite }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ membre.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ membre.codePostal }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ membre.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h2>Nombre <span>de commande(s) : {{ membre.commandes |length }} </span></h2>
        <table class="table">
            <thead class="thead-dark">
                <th>Date</th>
                <th>Montant</th>
                <th>Etat</th>
                <th>Actions</th>
            </thead>
            {% for commande in membre.commandes %}
                <tr>
                    <td>{{ commande.dateEnregistrement|date("d/m/Y") }}</td>
                    <td>{{ commande.montant }}</td>
                    <td>{{ commande.etat }}</td>
                    <td><a href="{{ path('commande_show', {'id': commande.id}) }}"><i class="fa fa-book"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{{ path('membre_index') }}">back to list</a>

    <a href="{{ path('membre_edit', {'id': membre.id}) }}">edit</a>

    {{ include('membre/_delete_form.html.twig') }}
{% endblock %}
