{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<h1>Commande</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ commande.id }}</td>
        </tr>
        <tr>
            <th>Montant</th>
            <td>{{ commande.montant }}</td>
        </tr>
        <tr>
            <th>Date_enregistrement</th>
            <td>{{ commande.dateEnregistrement ? commande.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{ commande.etat }}</td>
        </tr>
    </tbody>
</table>
<div>
    <div>Détail de la commande : {{ commande.details|length }} produit(s)</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Produit</th>
                <th>Prix Unitaire</th>
                <th>Quantite</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in commande.details %}
            <tr>
                <td>{{ detail.produit.titre }}</td>
                <td>{{ detail.produit.prix }}</td>
                <td>{{ detail.quantite }}</td>
                <td>{{ detail.prix }} €</td>
                <td><a href="{{ path('produit_show', {'id': detail.produit.id}) }}"><i class="fa fa-book"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ path('commande_index') }}">back to list</a>

<a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>

{{ include('commande/_delete_form.html.twig') }}
{% endblock %}