<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags("app") }}
    {% block stylesheets %}{% endblock %}
</head>

<body class="container">

    {% block nav %}
    {% include "menu.html.twig" %}
    {% endblock %}

    {% for type,messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for msg in messages %}
            {{msg}}
        {% endfor %}
    </div>
    {% endfor %}

    {% block body %}{% endblock %}
    {{ encore_entry_script_tags("app") }}
    {% block javascripts %}{% endblock %}
</body>

</html>