<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("home") }}">Boutique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("home") }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Gestion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("membre_index") }}">Membres</a>
                    <a class="dropdown-item" href="{{ path("produit_index") }}">Produits</a>
                    <a class="dropdown-item" href="{{ path("commande_index") }}">Commandes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("app_logout") }}">Se déconnecter</a>
                </div>
            </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profil') }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
              </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'disabled' : '' }}" href="{{ path('app_register')}}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-1 fa fa-shopping-cart" href="{{ path('panier') }}"></a>
            </li>
            {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
            <p class="mt-2">Bonjour {{ app.user.pseudo }}</p>
            {% endif %}



        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ path('recherche') }}">
            <input name="recherche" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>